<p></p>
<p></p>
<div class="modal-content">
  <div class="modal-header darken-3 light-blue-text">
    <h1 class="title text-center">
      <form class="border border-light justify-content-center p-5">

        <p class="h4 mb-4 text-center">Sign in</p>

        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-between">
          <div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
          </div>
          <div>
            <a [routerLink]="['/create-nouveau-contact']" routerLinkActive="router-link-active">Forgot password?</a>
          </div>
        </div>

        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

        <div class="text-center">
          <p>Not a member?
            <a [routerLink]="['/enregister']" routerLinkActive="router-link-active">Register</a>
          </p>

          <p>or sign in with:</p>
          <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </form>
    </h1>
  </div>
</div>
