<!--The content below is only a placeholder and can be replaced.-->

<app-menu></app-menu>
<div class="container"></div>



<!-- <app-footer></app-footer> -->
<div></div>
<router-outlet></router-outlet>
