<div class="container">
  <h1 class="text-center">
    Liste des clients
  </h1>
  <div id="table" class="table-editable">
    <span class="table-add float-right mb-3 mr-2">
      <a class="text-success" (click)="add()">
        <mdb-icon icon="plus" size="2x"></mdb-icon>
      </a>
    </span>
    <table mdbTable class="z-depth-1" style="width:100%">
      <thead>
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
            <mdb-icon icon="sort" (click)="sortTable()"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td contenteditable="true" (keypress)="changeValue(contact.id, 'id', $event)" (blur)="updateList(contact.id, 'name', $event)">
            {{ contact.id }} </td>
          <td contenteditable="true" (keypress)="changeValue(contact.id, 'name', $event)" (blur)="updateList(contact.id, 'name', $event)">
            {{ contact.name }} </td>
          <td contenteditable="true" (keypress)="changeValue(contact.id, 'username', $event)" (blur)="updateList(contact.id, 'name', $event)">
            {{ contact.username }} </td>
          <td contenteditable="true" (keypress)="changeValue(contact.id, 'phone', $event)" (blur)="updateList(contact.id, 'name', $event)">
            {{ contact.phone }} </td>
          <td contenteditable="true" (keypress)="changeValue(contact.id, 'email', $event)" (blur)="updateList(contact.id, 'name', $event)">
            {{ contact.email }} </td>
          <td contenteditable="true" (keypress)="changeValue(contact.id, 'street', $event)" (blur)="updateList(contact.id, 'name', $event)">
            {{ contact.address.street }},{{ contact.address.suite }},{{ contact.address.city }},{{ contact.address.zipcode }}
          </td>
          <td contenteditable="true" (keypress)="changeValue(contact.id, 'name', $event)" (blur)="updateList(contact.id, 'name', $event)">{{contact.company.name}}</td>
          <td>
            <span class="table-up">
              <a class="indigo-text">
                <mdb-icon icon="long-arrow-up" (click)="sortTable()"></mdb-icon>
              </a>
            </span>
            <span class="table-down">
              <a class="indigo-text">
                <mdb-icon icon="long-arrow-down"></mdb-icon>
              </a>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(contact.id)">Remove</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
